{% extends 'budget/base.html' %}
{% load static %}

{% block content %}
<style>
    .card-panel {
        border-radius: 10px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    }

    h4 {
        text-transform: capitalize;
    }
</style>

<body
    style="padding: 20px; background-image: url('{% static 'user/images/pic.jpg' %}');background-size: cover; background-color:rgba(0, 0, 0, 0.1);"><br>
    <div class="container">
        <table class="borderless z-depth-1">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Project name</th>
                    <th>Description</th>
                    <th>Amount</th>
                    <th>Category</th>
                    <th>Priority</th>
                    <th>Due Date</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for expense in expense_list %}
                <tr>
                    <td style="text-transform: capitalize;">{{ expense.title }}</td>
                    <td style="text-transform: capitalize;">{{ expense.project.name }}</td>
                    <td>{{ expense.description }}</td>
                    <td>GHc{{ expense.amount }}</td>
                    <td>{{ expense.category.name }}</td>
                    {% if expense.priority == 1 %}
                    <td>Low</td>
                    {% elif expense.priority == 2 %}
                    <td>Medium</td>
                    {% else %}
                    <td>High</td>
                    {% endif %}

                    {% if expense.date == date.today %}
                        <td>Today</td>
                    {% else %}
                        <td>{{ expense.date }}</td>
                    {% endif %}

                </tr>
                {% endfor %}
            </tbody>

        </table><br>
        <div class="row">
            <div class="col s12">
                <a href="{% url 'list' %}" class="btn waves-effect waves-light">
                    Go to List
                </a>
            </div>
        </div>
    </div>
    <!-- ... previous code ... -->
    <a href="{% url 'homepage' %}"
        class="btn-floating btn-large waves-effect waves-light teal lighten-1 right hoverable rounded z-depth-2"
        style="position: fixed; bottom: 20px; left: 20px;"><i class="material-icons">home</i></a>
    {% endblock %}
</body>