{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-JOdQd+FmyAaSgl9irxJyf8sj+qltE4xFt4Kj0wZOOChg7V/6Rpf9z7ntu/9vkJq7Gh/PdDQ2nV+1MNwQdyyT/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Expense Tracker</title>
</head>

<body style="background-color: #08224131; font-family: Arial, sans-serif; margin: 0;">
    <header
        style="background-color: teal; color: #fff; padding: 0px 20px; height: 60px; display: flex; align-items: center; justify-content: center;">
        <nav style="display: flex; justify-content:space-between; align-items: center; width: 100%;">
            <div style="display: flex; align-items: center;">
                <a href="{% url 'about' %}"><img src="{% static 'user/images/budget-icon.png' %}"
                        style="border-radius: 50%; height: 40px; width: 40px; margin-right: 3px;"></a>
                <h1 style="margin-right: 10px;"><span style="font-size: larger;">Budget Buddy</span></h1>
            </div>
            <ul style="list-style: none; display: flex; justify-content: flex-end; align-items: center; margin: 0;">
                <li style="margin-right: 20px;"><a href="{% url 'list' %}"
                        style="color: #fff; text-decoration: none;">Projects</a>
                </li>
                <li style="margin-right: 20px;"><a href="{% url 'reports' %}" style="color: #fff; text-decoration: none;">Reports</a></li>
                <li style="margin-right: 20px;"><a href="{% url 'about' %}" style="color: #fff; text-decoration: none;">About</a></li>
                <li style="margin-right: 30px;"><a href="{% url 'logout' %}"
                        style="color: #fff; text-decoration: none;">Logout</a>
                </li>
                <li style="margin-right: 10px; display:flex; align-items: center;"><img
                        src="{% static 'user/images/new.jpg' %}"
                        style="border-radius: 50%; height: 40px; width: 40px; margin-right: 3px;"><span
                        style="font-size: 1.2rem;"><i class="fas fa-user"></i> {{ request.user.username }}</span></li>
            </ul>
        </nav>
    </header>
    <main style="padding: 20px; background-image: url('{% static 'user/images/pic.jpg' %}');background-size: cover; background-color:rgba(0, 0, 0, 0.1);">
        <!-- Your page content here -->

        <h1 style="color: #050505; font-size: 3rem; margin-bottom: 20px;opacity: 0.65;">Track Your Expenses with Ease</h1>
        <p style="color: #050505; font-size: 1.2rem; margin-bottom: 30px;">Our expense tracker app helps you keep track
            of your spending, so you can stay on budget and achieve your financial goals.</p>
        <a href="{% url 'reports' %}"
            style="background-color: teal; color: #fff; font-size: 1.2rem; padding: 10px 20px; border-radius: 5px; text-decoration: none;">Get
            Started</a>
        <div id="financial-tips" style="margin-top: 50px;">
            <h2 style="color: #050505; font-size: 2rem; margin-bottom: 20px;text-align: center;text-decoration: underline;">Financial Tips</h2>
            <div id="tip-container">
                <p id="_tip" style="color: #050505; font-size: 1.2rem; margin-bottom: 20px; text-align: center;">Create a budget
                    and stick to it.</p>
            </div>
        </div>
        <br><br><br><br><br><br><br><br>
    </main>
    <style>
        #financial-tips {
            opacity: 0.7
        }
        #tip-container {
            color: teal;
            opacity: 0.6;
            transform: translateY(50%);
            transition: opacity 1s ease-out, transform 1s ease-in-out;
        }
    </style>
    <footer style="background-color: teal; color: #fff; text-align: center; padding: 20px;">
        <p style="margin: 0;">&copy; 2023 Expense Tracker. All rights reserved.</p>
    </footer>
    
    <div id="tip"></div>
    
    <script>
        const tipContainer = document.getElementById("_tip");
        const tips = ["Stay informed about financial news and trends.","Create a budget and stick to it.", "Avoid unnecessary debt and try to pay off any existing debt as soon as possible.","Start saving for retirement as early as possible.", "Avoid high-interest debt like credit cards.",
    "Invest in retirement savings accounts.","Shop around for better deals and negotiate prices.","Invest in yourself through education or learning new skills.","Live below your means and avoid overspending.","Build an emergency fund to cover unexpected expenses."];
        let i = 0;

        setInterval(() => {
            tipContainer.style.opacity = 0;
            setTimeout(() => {
                tipContainer.innerText = tips[i];
                i = (i + 1) % tips.length;
                tipContainer.style.opacity = 1;
            }, 1000);
        }, 10000);
    </script>

</body>

</html>