{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-JOdQd+FmyAaSgl9irxJyf8sj+qltE4xFt4Kj0wZOOChg7V/6Rpf9z7ntu/9vkJq7Gh/PdDQ2nV+1MNwQdyyT/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Expense Tracker</title>
</head>

<body style="background-color: #08224131; font-family: Arial, sans-serif; margin: 0;">
    <header style="background-color: #0aa33f; color: #fff; padding: 0px 20px; height: 60px; display: flex; align-items: center; justify-content: center;">
        <nav style="display: flex; padding: 2px; justify-content:space-between; align-items: center;">
            <h1 style="margin-right: 10px; display:flex; align-items: center;"><a href="{% url 'about' %}"><img src="{% static 'user/images/budget-icon.png' %}"
                        style="border-radius: 50%; height: 40px; width: 40px; margin-right: 3px;"></a><span
                        style="font-size: larger;">Budget Buddy</span></h1>
            <ul style="list-style: none; display: flex; justify-content: center; align-items: center; margin: 0;">
                <li style="margin-right: 20px;"><a href="{% url 'list' %}" style="color: #fff; text-decoration: none;">Projects</a>
                </li>
                <li style="margin-right: 20px;"><a href="#" style="color: #fff; text-decoration: none;">Reports</a></li>
                <li style="margin-right: 30px;"><a href="{% url 'logout' %}" style="color: #fff; text-decoration: none;">Logout</a>
                </li>
                <li style="margin-right: 10px; display:flex; align-items: center;"><img src="{% static 'user/images/new.jpg' %}"
                        style="border-radius: 50%; height: 40px; width: 40px; margin-right: 3px;"><span
                        style="font-size: 1.2rem;"><i class="fas fa-user"></i> {{ request.user.username }}</span></li>
            </ul>
        </nav>
    </header>
    <main style="padding: 50px;">
        <h1 style="color: #050505; font-size: 3rem; margin-bottom: 20px;">Track Your Expenses with Ease</h1>
        <p style="color: #050505; font-size: 1.2rem; margin-bottom: 30px;">Our expense tracker app helps you keep track
            of
            your spending, so you can stay on budget and achieve your financial goals.</p>
        <a href="{% url 'add' %}"
            style="background-color: #0aa33f; color: #fff; font-size: 1.2rem; padding: 10px 20px; border-radius: 5px; text-decoration: none;">Get
            Started</a>
        <div id="financial-tips" style="margin-top: 50px;">
            <h2 style="color: #050505; font-size: 2rem; margin-bottom: 20px;">Financial Tips</h2>
            <div id="tip-container">
                <p id="_tip" style="color: #050505; font-size: 1.2rem; margin-bottom: 20px;">Tip #1: Create a budget
                    and stick to it.</p>
            </div>
        </div>
    </main><br><br><br>
    <footer style="background-color: #0aa33f; color: #fff; text-align: center; padding: 20px;">
        <p style="margin: 0;">&copy; 2023 Expense Tracker. All rights reserved.</p>
    </footer>

    <script>
        const tipContainer = document.getElementById("_tip");
        const tips = ["Tip #1: Create a budget and stick to it.", "Tip #2: Start saving for retirement as early as possible.", "Tip #3: Avoid high - interest debt like credit cards."]
        var i = 0;
        setInterval(()=>{
            tipContainer.innerText = tips[i];
            i = (i + 1) % tips.length;
        }, 5000)
    </script>
</body>

</html>