<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <br>
    <div class="parent">
        <br><br>
        <div class="form">
            <h1>Register Here</h1>
            {% csrf_token %}
            <form action="" method="POST">

                <label for="fname">First Name: </label>
                <input type="text" placeholder="First name" name ="fname"><br><br>

                <label for="lname">Last Name: </label>
                <input type="text" placeholder="Last name" name="lname"><br><br>

                <label for="uname">Username: </label>
                <input type="text" placeholder="Username" name="uname"><br><br>

                <label for="email">Email: </label>
                <input type="email" placeholder="Email Address" name="email"><br><br>

                <label for="pass">Password: </label>
                <input type="password" placeholder="Password" name="pass"><br><br>

                <label for="pass">Confirm Password: </label>
                <input type="password" placeholder="Confirm password" name="cpass"><br>

                <button type="submit">Submit</button>
                <p>Already have an account?<a href="{% url 'login' %}">Login</a></p>
            </form>
        </div>
    </div>
</body>
</html>